.dashboardcontainer {
    height: 100vh;
    width: 100vw;
    padding: 3vw;
    background-color: #151912;

}

/* dashboard navbar */
.dashboardnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboardcard {
    width: 50vw;
    height: 60vh;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
}

.dashboardcard p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardcard p:hover {
    flex: 4;
}

.dashboardcard p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
}

.dashboardcard p:hover span {
    transform: rotate(0);
}