.logo {
	height: auto;
	width: 15vw;
	font-size: 30px;
	color: white;
}

.navbarbloodsync {
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	position: fixed;
	z-index: 100;
	background-color: black;
}

.navbarContent {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 10vh;
	width: 90vw;
}
.navbarList{
	height: 10vh;
	width: 60vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row
}
.navbarList ol {
	margin-top: 1.5vh;
	display: flex;
	align-items: center;
	flex-direction: row;
	list-style: none;
	color: white;
}
/* button */
.navbarList ol li button {
	padding: 0.8em 1.8em;
	border: none;
	position: relative;
	overflow: hidden;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	transition: .3s;
	z-index: 1;
	font-family: inherit;
	color:white;
}

.navbarList ol li button::before {
	content: '';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background:green;
	transition: .5s ease;
	display: block;
	z-index: -1;
}

.navbarList ol li button:hover::before {
	width: 105%;
}

.navbarList ol li button:hover {
	color: #111;
}

.navbarMode{
	height: 10vh;
	width: 15vw;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.navbarMode i{
	font-size: 20px;
	color: white;
	transition: .3s ease-in-out;
}
.navbarMode i:hover{
	font-size: 20px;
	color: green;
}
